.fora {

    width: 300px;
    height: 175px;
    background-color: #000000;
    padding: 35px 40px 40px;
    background-image: url(365326-original.jpg);
    background-repeat: no-repeat;
    

}

